<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
    body {
        text-align: center;
    }
    #app {
        margin-top: 20vh;
    }
    .completed {
        color: gray;
        text-decoration-line: line-through;
    }
    li {
        cursor: pointer;
    }
    .blue {
        color: blue;
    }
    .pink {
        color: pink;
    }
    </style>
</head>
<body>
    <div id="app">
        <!--
            디렉티브
            v-for : 반복문
            v-if: 조건문
            같이 작성을 하게 되면, 매 반복에 if를 체크
        -->
        <img v-bind:src="logo"
            alt="" width="200px"><br>
        <!-- <h1 class="{lightblue: islightBlue, pink: !islightBlue}">은정이의 TodoList</h1> -->
        <h2 :style="{color: color, 'font-size': font}">{{ time }}</h2>
        <button @click="allCompleted">Complete</button>
        <button @click="clearCompleted">Clear</button><br>
        <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo"><br>
        <select v-model="status">
            <option value="all">모두 보기</option>
            <option value="active">할 일</option>
            <option value="complete">완료</option>
        </select>
        <li v-for="todo in todosByStatus"
             :class="{completed: todo.completed}"
             :key="todo.id"
            >
            <input type="checkbox" v-model="todo.completed">
            {{ todo.content }}
        </li>
    <!-- <li v-else v-on:click="toggleCompleted(todo)">
      <del>
        {{ todo.content }}
      </del>
    </li> -->
    </div>
    <script>
        const todoStorage = {
            fetch() {   // 가져오는 작업(JSON => object 리턴)
                return JSON.parse(localStorage.getItem('vue-todo') || "[]")
            },
            set(todos) { // 로컬스토리지에 저장하는 작업 (object -> JSON)
                localStorage.setItem('vue-todo', JSON.stringify(todos))
            } 
        }
        const app = new Vue({
            el: '#app',
            data: {
                time: '',
                color: 'purple',
                font: '30px',
                status:'all', // 'active'(false), 'complete'(true)
                newTodo: '',
                logo: 'https://i.pinimg.com/originals/a0/42/c8/a042c8760a95bc2a4f7bd639690b45df.png',
                todos: [
                ]
            },
            methods: {
                toggleCompleted: function(todo){
                    todo.completed = !todo.completed
                },
                addTodo: function() {
                    this.todos.push(
                        {
                            id: Date.now(),
                            content: this.newTodo,
                            completed: false
                        }
                    )
                    this.newTodo = ''
                },
                allCompleted: function() {
                    this.todos.forEach(todo => {
                        todo.completed = true
                    })
                },
                clearCompleted() {
                    this.todos = this.todos.filter(todo => {
                        return !todo.completed
                    })
                },
                updateTime() {
                const date = new Date()
                this.time = `${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`
                }
            },
            computed: {
                todosByStatus() {
                    console.log('!!!!!')
                    // this.status 1) 'active'
                    if (this.status === 'active') {
                        return this.todos.filter(todo => !todo.completed)
                    } else if (this.status === 'complete') {
                        return this.todos.filter(todo => todo.completed)
                    } else {
                        return this.todos   // 'all'
                    }
                }
            },
            watch: {    // 특정 data의 변경을 추적, 반응
                todos:{ // todo를 바라봐!
                    handler: function() {
                        todoStorage.set(this.todos)
                    },
                    deep: true  // 원소자체 변경, 그 원소의 변경
                }
            },
            mounted : function() {  // vue 시작되는 시점
                console.log('아침이 되었습니다.')
                this.updateTime()
                // 현재 시간
                this.todos = todoStorage.fetch()
                this.$options.myInterval = setInterval(this.updateTime, 1000)
            },
            beforeDestroy: function() {
                clearInterval(this.$options.myInterval)
            }
        })
    </script>
</body>
</html>