<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        body {
            text-align: center;
        }
        #app {
            margin-top: 20vh;
        }
        .completed {
            color: gray;
            text-decoration-line: line-through;
            
        }
        li {
            cursor: pointer;
        }
        .lightblue {
            color: lightblue;
        }
        .pink {
            color: pink;
        }
    </style>
</head>
<body>
    <div id="app">
        <!--
            디렉티브
            v-for : 반복문
            v-if: 조건문
            같이 작성을 하게 되면, 매 반복에 if를 체크
        -->
        <img v-bind:src="logo"
            alt="" width="200px"><br>
        <!-- <h1 class="{lightblue: isLightBlue, pink: !isLightBlue}">은정이의 TodoList</h1> -->
        <h2 :style="{color: color, 'font-size': font}">은정이의 Todo List</h2>
        <button @click="allCompleted">Complete</button>
        <button @click="clearCompleted">Clear</button><br>
        <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo"><br>
        <select v-model="status">
            <option value="all">모두보기</option>
            <option value="active">할 일</option>
            <option value="complete">완료</option>
        </select>
        <li v-for="todo in todosByStatus"
             :class="{completed: todo.completed}"
             :key="todo.id"
            >
            <input type="checkbox" v-model="todo.completed">
            {{ todo.content }}
        </li>


        <!-- 
        <li v-else v-on:click="toggleCompleted(todo)" :class="">
            <del>
                {{ todo.content }}
            </del>
        </li>
        -->
    </div>
    <script>
        const todoStorage = {
            fetch() {
                return JSON.parse(localStorage.getItem('vue-todo'))
            },
            set(todos) {
                localStorage.setItem('vue-todo', JSON.stringify(todos))
            } 
        }
        const app = new Vue({
            el: '#app',
            data: {
                color: 'purple',
                font: '30px',
                status:'',  // 'active', 'completed (true) '
                newTodo: '',
                logo: 'https://i.pinimg.com/originals/a0/42/c8/a042c8760a95bc2a4f7bd639690b45df.png',
                todos: [
                {
                    id: 1,
                    content: '수업 열심히 듣기',
                    completed: true
                },
                {
                    id: 2,
                    content: '퇴근 하기',
                    completed: false
                },
                {
                    id: 3,
                    content: '재활용 하기',
                    completed: false
                },                
                {
                    id: 4,
                    content: '방청소하기',
                    completed: false
                },                
                {
                    id: 5,
                    content: '저녁먹기',
                    completed: false
                },                
                {
                    id: 6,
                    content: '일찍 자기',
                    completed: false
                }
                ],

            },
        methods: {
            toggleCompleted: function(todo){
                console.log(todo)
                todo.completed = !todo.completed
            },
            addTodo: function() {
                this.todos.push(
                    {
                        id: Date.now(),
                        content: this.newTodo,
                        completed: false
                    }
                )
                this.newTodo = ''
            },
            allCompleted: function() {
                this.todos.forEach(todo => {
                    todo.completed = true
                })
            },
            clearCompleted() {
                this.todos = this.todos.filter(todo => {
                    return !todo.completed
                })
            },
            
            },
            computed: {
                todosByStatus() {
                    console.log('!!!!!')
                    if (this.status === 'active') {
                        return this.todos.filter(todo => !todo.completed)
                    } else if (this.status === 'complete') {
                        return this.todos.filter(todo => this.completed)
                    } else {
                        return this.todos   // 'all'
                    }
                }
            },
            watch: {    // 특정 data의 변경을 추적, 변경
                todos:{ // todo를 바라봐!
                    handler: function() {
                        todoStorage.set(this.todos)
                    }
                }
            },
            mounted : function() {  // vue 시작되는 시점
                console.log('아침이 되었습니다.')
                this.todos = todoStorage.fetch()
            }
        })
    </script>
</body>
</html>